*{
    font-size: 14px;
    font-family: 'arial';
}
body{
    background: #f2f2f2;
}

.container{
    width:1030px;
}

/*start header*/
#header nav{
    background: #1c1c1c !important;
    margin-bottom: 0px;
}
#header .navbar-form .form-group{
    position: relative;
}
#header .navbar-form a:hover{
    background: #f2f2f2;
}
#header .navbar-form a i{
    color:#474747;
}
#header .navbar-form a{
    position:absolute;
    right:0;
    top:0;
}
#header .navbar-form input[type="text"]{
    width:350px;
    border-radius:0;
    height:29px;
}
#header .navbar-form .btn{
    padding:4px 12px;
    border:none;
    border-radius: 0;
    box-shadow: 0;
}
#header .navbar-brand{
    padding:8px 0px;
}
#header .menu li a{
    color:white;
    text-transform: uppercase;
}
#header .menu li:first-child a{
    background: #000;
    color: #a845de;
}
#header .menu li a:hover{
    background: #000;
    color: #a845de;
}
#header .navbar-right li a{
    color:white;
}
#header .navbar-right{
    margin-right:-30px;
}
#header .navbar-right li:focus{
    background:#000;
}
#header .navbar-right .open a{
    background:transparent;
}
#header .navbar-right a:focus,
#header .navbar-right a:hover{
    background:#000;
    color: #a845de;
}
#header .navbar-right .dropdown-menu{
    background: #1c1c1c
}
#header #menu{
    background:#e4e4e4;
}
#header #menu ul{
    margin-bottom:0px;
    padding-left: 0px;
}
#header #menu ul li{
    display: inline-block;
}
#header #menu ul li:not(:first-child) a{
    padding:10px;
}
#header #menu ul li a{
    color: #333;
    font-size: 14px;
    display: block;
    text-decoration: none;
}
#header #menu ul li:not(:first-child) a:hover{
    background:#fff;
    color:#721799;
}
#header #menu ul li a:first-child i{
    font-size: 25px;
}
#header #menu .menu-parent>li{
    position: relative;
}
#header #menu .menu-parent li:hover .menu-child{
    display: block;
}
#header #menu .menu-child{
    position: absolute;
    background: white;
    width:645px;
    height:250px;
    border:1px solid #d9d9d9;
    z-index: 10;
    padding-top:10px;
    display: none;
    box-shadow: 0 3px 8px rgba(3,3,3,0.26);
    padding:15px;
}
#header #menu .menu-child ul{
    position: absolute;
    z-index: 11;
}
#header #menu .menu-child li{
    width:150px;
    position: relative;
}
#header #menu .menu-child>li>a{
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
    font-family:"Open Sans","segoe ui",Helvetica,Arial,sans-serif;
}
#header #menu .menu-child ul li a{
    font-size: 13px;
}
/*end header*/

/*start footer*/
#footer{
    background: #222428;
    padding-top:20px;
}
#footer #foot_left{
    padding-left:20px;
}
#footer #foot_left img{
    float:left;
    margin-right:15px;
}
#footer #foot_left p{
    margin-top: 8px;
    color:gray;
    font-size: 12px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 0px;
}
#footer #foot_middle ul li{
    margin-bottom:10px;
    float:left;
    width:90px;
}
#footer #foot_middle ul li a{
    padding:0;
    font-size:12px;
    display: inline;
} 
#footer #foot_middle ul li a:hover{
    background-color: transparent;
}
#footer #foot_right .right{
    margin-right:0px;
}
#footer #foot_right .right li{
    height:34px;
    width:34px;
    float:left;
    margin-left:8px;
    margin-bottom:8px;
    background: #636465;
    position: relative;
    cursor:pointer;
}
#footer #foot_right .right a{
    padding:0px;
    position: absolute;
    top:50%;
    left:50%;
    color: #222428;
    transform: translateX(-50%) translateY(-50%);
}
#footer #foot_right .right a:hover{
    background-color:transparent;
}
#footer #foot_right .right li:hover{
    background-color:#808080;
}
#footer #foot_right p{
    direction: rtl;
    float:right;
    width:100%;
    margin-top:10px;
}
#footer #foot_right p a{
    font-size:12px;
    color:#fff;
    text-decoration: none;
}
#footer #foot_right p a:hover{
    color:#721799;
}
#footer #foot_right .dmca{
    float:right;
    margin-top:5px;
    overflow: hidden;
}
#footer ul li a{
    color:#ddd;
}

/*end footer*/

/*start profile*/

#main .content{
    overflow: hidden;
    background: white;
    padding:15px;
}
#main #main_left .image{
    width:100%;
    height:250px;
    background:#666;
    border-radius:4px;
}
#main #main_left button{
    width:100%;
    height:30px;
    margin:10px 0px;
}
#main #main_left p{
    margin-top:15px;
    color:#ccc;
    font-size: 18px;
}
#main #main_right .main_right_content{
    padding:15px;
    background:#666;
    border-radius: 4px;
}
#main #main_right .main_right_content{
    height: 511px;
}
#main #main_right ul li{
    border-radius:4px 4px 0 0;
}
#main #main_right ul li a{
    color:white;
}
#main #main_right .nav-tabs .active a,
#main #main_right .tab-content{
    background:#494949;
}
#main #main_right .tab-content{
    padding:15px;
}
#main #main_right .tab-content .tab-pane{
    color:white;
}
/*end profile*/

/*start home page*/
#homepage{
    background:#f2f2f2;
}
#homepage .main{
    padding:15px;
    background:white;
}
#homepage .slider{
    margin-bottom:15px;
    margin-right:-15px;
}
#homepage .main .song,
#homepage .main .album{
    overflow:hidden;
}
#homepage .main .song img,
#homepage .main .album img{
    width:100%;
}
#homepage .main .product{
    height:220px;
}
#homepage .main .song div,
#homepage .main .album div{
    padding-right:0px;
}
#homepage .main .song h2,
#homepage .main .album h2{
    margin-left:15px;
    color:purple;
}
#homepage .main .song a,
#homepage .main .album a{
    text-decoration: none;
}
#homepage .main .song span,
#homepage .main .album span{
    margin-bottom:0;
    display: block;
}
#homepage .main .song span:nth-of-type(1),
#homepage .main .album span:nth-of-type(1){
    font-family: roboto;
    color:#000;
    margin:10px 0px 0px;
}
#homepage .main .song span:nth-of-type(2),
#homepage .main .album span:nth-of-type(2){
    color:#888;
    font-size:12px;
}
#homepage .main .main_right img{
    margin-bottom:10px;
}
#homepage .main .company img{
    width:16%;
}
#homepage .main_right .hit_song span{
    float:left;
    line-height:50px;
    font-size: 20px;
    text-align: center;
    width:40px;
}
#homepage .main_right .hit_song h3,
#homepage .main_right .hit_song h4{
    margin-top:0px;
    margin-bottom: 0px;
    margin-left:30px;
    font-family: roboto;
}
#homepage .main_right .hit_song .group{
    position:relative;
    padding:15px 0px;
    border-bottom: 1px solid #f2f2f2;
}
#homepage .main_right .hit_song h3 a{
    color:#000;
    text-decoration: none;
}
#homepage .main_right .hit_song h4 a{
    color:#666;
    font-size: 12px;
    text-decoration: none;
}
#homepage .main_right .hit_song h3 a:hover,
#homepage .main_right .hit_song h4 a:hover{
    color:#a845de;
}
#homepage .main_right .hit_song ul{
    display: flex;
}
#homepage .main_right .hit_song .nav li{
    text-align: center;
    margin-bottom:0px;
    width:100%;
    background: #ecf0f1;
    border-top:2px solid #ecf0f1;
}
#homepage .main_right .hit_song .nav li:hover{
    border-top:2px solid #721799;
}
#homepage .main_right .hit_song .nav li:first-child a{
    border-left:1px solid #ddd;
}
#homepage .main_right .hit_song .nav a{
    margin:0px;
    border-radius:0;
    border:none;
    border-right:1px solid #ddd;
    color:#000;
}
#homepage .main_right .hit_song .nav .active{
    border-top:2px solid #721799;
    background:white;
}
#homepage .main_right .hit_song .stars{
    position: absolute;
    right:10px;
    color:#888;
    top:50%;
    transform: translateY(-50%);
}
#homepage .main_right .hit_song .stars label{
    margin-bottom:0px;
}
input.star { 
    display: none; 
}
label.star {
  float: right;
  padding: 2px;
  font-size: 10px;
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
 
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
 
input.star-1:checked ~ label.star:before { color: #F62; }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
 
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
/*end home page*/

/*start album hot*/
#albumhot{
    background:#fff;
    padding:15px;
}
#albumhot .left .data-list{
    overflow-y: auto;
    height:75vh;
}
#albumhot .left .data-list::-webkit-scrollbar{
    width: 8px;
}
#albumhot .left .data-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#albumhot .left .data-list::-webkit-scrollbar-thumb {
  background-color: rgba(169,169,169,0.5);
  outline: 1px solid slategrey;
}
#albumhot .left a{
    text-decoration: none;
    font-family: roboto;
}
#albumhot .left h3 a,
#albumhot .left .data-list>li>a{
    color: #333;
    padding:8px 20px;
    font-size:16px;
    display: block;
    text-transform: uppercase;
}
#albumhot .left .data-list>li{
    border-bottom: 1px solid #fff;
}
#albumhot .left h3{
    margin-top:0px;
}
#albumhot .left .data-list>li>a{
    color:#a845de;
    background: #ecf0f1;
}
#albumhot .left ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
#albumhot .left .data-list ul li a{
    padding:8px 20px;
    color:#888;
    display: block;
}
#albumhot .left h3 a:hover,
#albumhot .left .data-list ul li a:hover{
    color:#a845de;
    background: #ecf0f1;
}
#albumhot .right{
    padding-left:0px;
}
#albumhot .right>h2{
    margin-top:0px;
}
#albumhot .right>h2>a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 15px;
    font-size:26px;
    color:purple;
}
#albumhot .right .nav a{
    font-family: roboto;
    color:#000;
}
#albumhot .right .nav .active a{
    border:none;
}
#albumhot .right .nav .active a{
    border-bottom: 2px solid #721799;
    color: #721799;
    font-weight:400;
}
#albumhot .tab-pane .album-product .product{
    height:250px;
    padding:0px 5px;
}
#albumhot .tab-pane .album-product .product img{
    width:100%;
}
#albumhot .tab-pane .album-product{
    margin-top:15px;
    overflow:hidden;
}
#albumhot .tab-pane .album-product h3,
#albumhot .tab-pane .album-product h4{
    margin:3px 0px;
}
#albumhot .tab-pane .album-product h3 a,
#albumhot .tab-pane .album-product h4 a{
    text-decoration: none;
    font-family: roboto;
}
#albumhot .tab-pane .album-product h3 a{
    color:#000;
    font-size: 14px;
}
#albumhot .tab-pane .album-product h4 a{
    color: #888;
    font-size: 12px;
}
/*end album hot*/
/*start singer page*/
#singer{
    background:#fff;
    padding:15px;
}
#singer .left .data-list{
    overflow-y: auto;
    height:75vh;
}
#singer .left .data-list::-webkit-scrollbar{
    width: 8px;
}
#singer .left .data-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#singer .left .data-list::-webkit-scrollbar-thumb {
  background-color: rgba(169,169,169,0.5);
  outline: 1px solid slategrey;
}
#singer .left a{
    text-decoration: none;
    font-family: roboto;
}
#singer .left .data-list>li{
    border-bottom: 1px solid #fff;
}
#singer .left h3 a,
#singer .left .data-list>li>a{
    color: #333;
    padding:8px 20px;
    font-size:16px;
    display: block;
    text-transform: uppercase;
}
#singer .left h3{
    margin-top:0px;
}
#singer .left .data-list>li>a{
    color:#a845de;
    background: #ecf0f1;
}
#singer .left ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
#singer .left .data-list ul li a{
    padding:8px 20px;
    color:#888;
    display: block;
}
#singer .left h3 a:hover,
#singer .left .data-list ul li a:hover{
    color:#a845de;
    background: #ecf0f1;
}
#singer .right{
    padding-left:0px;
}
#singer .right>h2{
    margin-top:0px;
}
#singer .right>h2>a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 15px;
    font-size:26px;
    color:purple;
}
#singer .right .nav a{
    font-family: roboto;
    color:#000;
}
#singer .right .nav .active a{
    border:none;
}
#singer .right .nav .active a{
    border-bottom: 2px solid #721799;
    color: #721799;
    font-weight:400;
}
#singer .tab-pane .singer-product .product{
    height:250px;
    padding:0px 5px;
}
#singer .tab-pane .singer-product{
    margin-top:15px;
}
#singer .tab-pane .singer-product h3,
#singer .tab-pane .singer-product h4{
    margin:3px 0px;
}
#singer .tab-pane .singer-product h3 a,
#singer .tab-pane .singer-product h4 a{
    text-decoration: none;
    font-family: roboto;
}
#singer .tab-pane .singer-product h3 a{
    color:#000;
    font-size: 14px;
}
#singer .tab-pane .singer-product h4 a{
    color: #888;
    font-size: 12px;
}
/*end singer page*/
/*start song*/
#song .wrap{
    padding:15px;
    background:white;
    overflow:hidden;
}
#song .wrap .song-left{
    padding-right:0px;
}
#song .title{
    overflow: hidden;
    margin-bottom:20px;
}
#song .title img{
    width:120px;
    float:left;
    margin-right:20px;
}
#song .title h1{
    color:#333;
    margin-top: 0px;
    font-weight: 500;
    line-height: 1.3;
    font-weight: bold;
    font-size: 20px;
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    margin:0px;
}
#song .title h2{
    color:#000;
    line-height: 1.3;
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    margin:5px 0px;
}
#song .title div p{
    margin-top:15px;
    margin-bottom:0px;
    line-height: 1.8;
}
#song .title div p:last-child{
    margin-top:0px;
}
#song .title p span{
    color:#888;
    font-weight: 400;
    font-style: normal!important;
    font-size: 14px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
}
#song .audio audio{
    width:100%;
    position:absolute;
    bottom:0;
    background: transparent;
}
#song .audio{
    width:100%;
    height:100px;
    background:black;
    position: relative;
    margin-bottom:10px;
}
#song .infor p{
    color: #888;
    font-weight: 400;
    font-style: normal!important;
    font-size: 14px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
}
#song .infor p span{
    color:#000;
}
#song .description{
    padding:15px 20px;
    background: #f6f6f6;
    margin-bottom:20px;
}
#song .description label{
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}
#song .description label span{
    font-weight:600;
}
#song .description p{
    color:#333;
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 0;
}
#song .infor-singer{
    overflow: hidden;
}
#song .infor-singer img{
    width:110px;
    float:left;
    margin-right:20px;
}
#song .infor-singer .artist-info{
    margin-bottom:10px;
}
#song .infor-singer .artist-info h2{
    font-size: 20px;
    font-weight: 400;
    font-style: normal!important;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    margin-right: 15px;
    display: inline;
}
#song .infor-singer .artist-info span{
    padding: 2px 6px;
    position: relative;
    border: 1px solid #898f9c;
    border-radius: 2px;
    display: inline-block;
    background: #fff;
    font-size: 11px;
    top:-5px;
}
#song .infor-singer .artist-info span s{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 400;
    font-style: normal!important;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
}
#song .infor-singer .artist-info i{
    border-color: transparent #898F9C transparent transparent;
    left: -5px;
    top: 5px;
    display: block;
    width: 0;
    height: 0;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    position: absolute;
}
#song .infor-singer .artist-info b{
    border-color: transparent #fff transparent transparent;
    left: -4px;
    top: 5px;
    display: block;
    width: 0;
    height: 0;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    position: absolute;
}
#song .infor-singer .singer-description{
    line-height: 1.6;
    overflow:hidden;
    color:#666;
    font-weight: 400;
    font-style: normal!important;
    text-align:justify;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
} 
#song .singer-song .product{
    height:220px;
    padding:5px;
}
#song .singer-song h2 a{
    color: purple;
    font-size: 26px;
    text-decoration: none;
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
#song .singer-song h3,
#song .singer-song h4{
    margin:0;
}
#song .singer-song h3 a,
#song .singer-song h4 a{
    font-size: 14px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    text-decoration: none;
}
#song .singer-song h3 a{
    color:#000;
}
#song .singer-song h4 a{
    color: #888;
    font-size: 12px;
    font-weight: 400px;
}
#song .singer-song{
    overflow: hidden;
}
#song .singer-song img{
    width:100%;
}
#song .comment h3{
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 26px;
    color: purple;
    font-weight: 0;
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
}
#song .comment h3 span{
    color: #000;
    font-weight: 300;
    font-size: 26px;
    text-transform: none;
    font-weight: normal;
}
#song .comment form{
    border-bottom: 1px solid #ddd;
    overflow:hidden;
    padding-bottom:26px;
    margin-bottom:20px;
}
#song .comment form img{
    width:50px;
    float: left;
}
#song .comment form .textarea{
    position: relative;
    margin-left: 65px;
}
#song .comment form textarea{
    height: 50px;
    padding: 5px 25px 5px 8px;
    color: #333;
    font-size: 14px;
    width:100%;
    margin-bottom:10px;
}
#song .comment form button{
    padding:8px 20px;
    background: #721799;
    border:none;
    outline:none;
    color: #fff;
    float:right;
}
#song .commentlist img{
    float:left;
    width:50px;
    margin-right:15px;
}
#song .commentlist h3{
    font-size: 12px;
}
#song .commentlist h4{
    color:#333;
    font-size: 14px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    margin-bottom:0px;
    display: inline;
}
#song .commentlist p{
    color:#666;
    text-align:justify;
}
#song .commentlist .postcomment{
    margin:15px 0px;
    overflow:hidden;
}
#song .commentlist .postcomment span{
    float:right;
}
#song .song-right h2{
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    color:purple;
    margin-top: 0px;
    font-style: normal!important;
    font-size:20px;
    text-transform: uppercase;
}
#song .song-right>img{
    width:100%;
    margin-bottom:20px;
}
#song .listhot ul{
    padding-left: 0px;
}
#song .listhot ul li{
    list-style-type: none;
    border-bottom:1px solid #f2f2f2 ;
    padding-bottom:15px;
    overflow: hidden;
}
#song .listhot ul li:hover{
    border-bottom:1px solid #dedede;
}
#song .listhot ul li img{
    width: 50px;
    float:left;
    margin-right:15px;
}
#song .listhot ul li h3,
#song .listhot ul li h4{
    margin:0px;
    line-height: 1.4;
}
#song .listhot ul li h3 a,
#song .listhot ul li h4 a{
    text-decoration: none;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    display: block;
}
#song .listhot ul li h3 a{
    color:#000;
}
#song .listhot ul li h4 a{
    font-size: 12px;
    color:#888;
}
/*end song*/
/*start video*/
#video .wrap{
    padding:15px;
    background:white;
    overflow:hidden;
}
#video .wrap .song-left{
    padding-right:0px;
}
#video .title{
    overflow: hidden;
    margin-bottom:20px;
}
#video .title img{
    width:120px;
    float:left;
    margin-right:20px;
}
#video .title h1{
    color:#333;
    margin-top: 0px;
    font-weight: 500;
    line-height: 1.3;
    font-weight: bold;
    font-size: 20px;
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    margin:0px;
}
#video .title h2{
    color:#000;
    line-height: 1.3;
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    margin:5px 0px;
}
#video .title div p{
    margin-top:15px;
    margin-bottom:0px;
    line-height: 1.8;
}
#video .title div p:last-child{
    margin-top:0px;
}
#video .title p span{
    color:#888;
    font-weight: 400;
    font-style: normal!important;
    font-size: 14px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
}
#video .video{
    margin-bottom:15px;
}
#video .video a{
    display: inline-block;
    padding: 9px;
    color: gray;
    border: 1px solid #e5e5e5;
    background: #f7f7f7;
    margin-right: 5px;
    line-height: 0;
    border-radius: 5px;
    text-decoration: none;
}
#video .video a i{
    margin-right:5px;
    color:#721799;
}
#video .video a span{
    color:#721799;
    font-size: 12px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
}
#video .description{
    padding:15px 20px;
    background: #f6f6f6;
    margin-bottom:20px;
}
#video .description label{
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}
#video .description label span{
    font-weight:600;
}
#video .description p{
    color:#333;
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 0;
}
#video .infor-singer img{
    width:110px;
    float:left;
    margin-right:20px;
}
#video .infor-singer .artist-info{
    margin-bottom:10px;
}
#video .infor-singer .artist-info h2{
    font-size: 20px;
    font-weight: 400;
    font-style: normal!important;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    margin-right: 15px;
    display: inline;
}
#video .infor-singer .artist-info span{
    padding: 2px 6px;
    position: relative;
    border: 1px solid #898f9c;
    border-radius: 2px;
    display: inline-block;
    background: #fff;
    font-size: 11px;
    top:-5px;
}
#video .infor-singer .artist-info span s{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 400;
    font-style: normal!important;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
}
#video .infor-singer .artist-info i{
    border-color: transparent #898F9C transparent transparent;
    left: -5px;
    top: 5px;
    display: block;
    width: 0;
    height: 0;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    position: absolute;
}
#video .infor-singer .artist-info b{
    border-color: transparent #fff transparent transparent;
    left: -4px;
    top: 5px;
    display: block;
    width: 0;
    height: 0;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    position: absolute;
}
#video .infor-singer .singer-description{
    line-height: 1.6;
    overflow:hidden;
    color:#666;
    font-weight: 400;
    font-style: normal!important;
    text-align:justify;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
} 
#video .singer-album .product{
    height:220px;
    padding:5px;
}
#video .singer-album h2 a{
    color: purple;
    font-size: 26px;
    text-decoration: none;
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
#video .singer-album h3,
#video .singer-album h4{
    margin:0;
}
#video .singer-album h3 a,
#video .singer-album h4 a{
    font-size: 14px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    text-decoration: none;
}
#video .singer-album h3 a{
    color:#000;
}
#video .singer-album h4 a{
    color: #888;
    font-size: 12px;
    font-weight: 400px;
}
#video .comment h3{
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 26px;
    color: purple;
    font-weight: 0;
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
}
#video .comment h3 span{
    color: #000;
    font-weight: 300;
    font-size: 26px;
    text-transform: none;
    font-weight: normal;
}
#video .comment form{
    border-bottom: 1px solid #ddd;
    overflow:hidden;
    padding-bottom:26px;
    margin-bottom:20px;
}
#video .comment form img{
    width:50px;
    float: left;
}
#video .comment form .textarea{
    position: relative;
    margin-left: 65px;
}
#video .comment form textarea{
    height: 50px;
    padding: 5px 25px 5px 8px;
    color: #333;
    font-size: 14px;
    width:100%;
    margin-bottom:10px;
}
#video .comment form button{
    padding:8px 20px;
    background: #721799;
    border:none;
    outline:none;
    color: #fff;
    float:right;
}
#video .commentlist img{
    float:left;
    width:50px;
    margin-right:15px;
}
#video .commentlist h3{
    font-size: 12px;
}
#video .commentlist h4{
    color:#333;
    font-size: 14px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    margin-bottom:0px;
    display: inline;
}
#video .commentlist p{
    color:#666;
    text-align:justify;
}
#video .commentlist .postcomment{
    margin:15px 0px;
    overflow:hidden;
}
#video .commentlist .postcomment span{
    float:right;
}
#video .song-right h2{
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    color:purple;
    margin-top: 0px;
    font-style: normal!important;
    font-size:20px;
    text-transform: uppercase;
}
#video .song-right>img{
    width:100%;
    margin-bottom:20px;
}
#video .listhot ul{
    padding-left: 0px;
}
#video .listhot ul li{
    list-style-type: none;
    border-bottom:1px solid #f2f2f2 ;
    padding-bottom:15px;
    overflow: hidden;
}
#video .listhot ul li:hover{
    border-bottom:1px solid #dedede;
}
#video .listhot ul li img{
    width: 50px;
    float:left;
    margin-right:15px;
}
#video .listhot ul li h3,
#video .listhot ul li h4{
    margin:0px;
    line-height: 1.4;
}
#video .listhot ul li h3 a,
#video .listhot ul li h4 a{
    text-decoration: none;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    display: block;
}
#video .listhot ul li h3 a{
    color:#000;
}
#video .listhot ul li h4 a{
    font-size: 12px;
    color:#888;
}
/*end video*/
/*start album*/
#album .wrap{
    padding:15px;
    background:white;
    overflow:hidden;
}
#album .wrap .song-left{
    padding-right:0px;
}
#album .title{
    overflow: hidden;
    margin-bottom:20px;
}
#album .title img{
    width:120px;
    float:left;
    margin-right:20px;
}
#album .title h1{
    color:#333;
    margin-top: 0px;
    font-weight: 500;
    line-height: 1.3;
    font-weight: bold;
    font-size: 20px;
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    margin:0px;
}
#album .title h2{
    color:#000;
    line-height: 1.3;
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    margin:5px 0px;
}
#album .title div p{
    margin-top:15px;
    margin-bottom:0px;
    line-height: 1.8;
}
#album .title div p:last-child{
    margin-top:0px;
}
#album .title p span{
    color:#888;
    font-weight: 400;
    font-style: normal!important;
    font-size: 14px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
}
#album .audio audio{
    width:100%;
    position:absolute;
    bottom:0;
    background: transparent;
}
#album .audio-cover{
    width:100%;
    height:100px;
    background:black;
    position: relative;
    margin-bottom:10px;
}
#album .audio .table ul{
    padding-left:0px;
    list-style-type: none;
}
#album .audio .table .list-album ul{
    overflow-y: auto;
    height: 200px;
    border:1px solid #ddd;
}
#album .audio .table .list-album ul li{
    padding:8px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
#album .audio .table .list-album ul::-webkit-scrollbar{
    width: 8px;
}
#album .audio .table .list-album ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#album .audio .table .list-album ul::-webkit-scrollbar-thumb {
  background-color: rgba(169,169,169,0.5);
  outline: 1px solid slategrey;
}
#album .infor p{
    color: #888;
    font-weight: 400;
    font-style: normal!important;
    font-size: 14px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
}
#album .infor p span{
    color:#000;
}
#album .description{
    padding:15px 20px;
    background: #f6f6f6;
    margin-bottom:20px;
}
#album .description label{
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}
#album .description label span{
    font-weight:600;
}
#album .description p{
    color:#333;
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 0;
}
#album .infor-singer img{
    width:110px;
    float:left;
    margin-right:20px;
}
#album .infor-singer .artist-info{
    margin-bottom:10px;
}
#album .infor-singer .artist-info h2{
    font-size: 20px;
    font-weight: 400;
    font-style: normal!important;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    margin-right: 15px;
    display: inline;
}
#album .infor-singer .artist-info span{
    padding: 2px 6px;
    position: relative;
    border: 1px solid #898f9c;
    border-radius: 2px;
    display: inline-block;
    background: #fff;
    font-size: 11px;
    top:-5px;
}
#album .infor-singer .artist-info span s{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 400;
    font-style: normal!important;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
}
#album .infor-singer .artist-info i{
    border-color: transparent #898F9C transparent transparent;
    left: -5px;
    top: 5px;
    display: block;
    width: 0;
    height: 0;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    position: absolute;
}
#album .infor-singer .artist-info b{
    border-color: transparent #fff transparent transparent;
    left: -4px;
    top: 5px;
    display: block;
    width: 0;
    height: 0;
    border-width: 5px 5px 5px 0;
    border-style: solid;
    position: absolute;
}
#album .infor-singer .singer-description{
    line-height: 1.6;
    overflow:hidden;
    color:#666;
    font-weight: 400;
    font-style: normal!important;
    text-align:justify;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
} 
#album .singer-album .product{
    height:220px;
    padding:5px;
}
#album .singer-album h2 a{
    color: purple;
    font-size: 26px;
    text-decoration: none;
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
#album .singer-album h3,
#album .singer-album h4{
    margin:0;
}
#album .singer-album h3 a,
#album .singer-album h4 a{
    font-size: 14px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    text-decoration: none;
}
#album .singer-album h3 a{
    color:#000;
}
#album .singer-album h4 a{
    color: #888;
    font-size: 12px;
    font-weight: 400px;
}
#album .infor-singer,
#album .singer-album{
    overflow: hidden;
}
#album .comment h3{
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 26px;
    color: purple;
    font-weight: 0;
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
}
#album .comment h3 span{
    color: #000;
    font-weight: 300;
    font-size: 26px;
    text-transform: none;
    font-weight: normal;
}
#album .comment form{
    border-bottom: 1px solid #ddd;
    overflow:hidden;
    padding-bottom:26px;
    margin-bottom:20px;
}
#album .comment form img{
    width:50px;
    float: left;
}
#album .comment form .textarea{
    position: relative;
    margin-left: 65px;
}
#album .comment form textarea{
    height: 50px;
    padding: 5px 25px 5px 8px;
    color: #333;
    font-size: 14px;
    width:100%;
    margin-bottom:10px;
}
#album .comment form button{
    padding:8px 20px;
    background: #721799;
    border:none;
    outline:none;
    color: #fff;
    float:right;
}
#album .commentlist img{
    float:left;
    width:50px;
    margin-right:15px;
}
#album .commentlist h3{
    font-size: 12px;
}
#album .commentlist h4{
    color:#333;
    font-size: 14px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    margin-bottom:0px;
    display: inline;
}
#album .commentlist p{
    color:#666;
    text-align:justify;
}
#album .commentlist .postcomment{
    margin:15px 0px;
    overflow:hidden;
}
#album .commentlist .postcomment span{
    float:right;
}
#album .song-right h2{
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    color:purple;
    margin-top: 0px;
    font-style: normal!important;
    font-size:20px;
    text-transform: uppercase;
}
#album .song-right>img{
    width:100%;
    margin-bottom:20px;
}
#album .listhot ul{
    padding-left: 0px;
}
#album .listhot ul li{
    list-style-type: none;
    border-bottom:1px solid #f2f2f2 ;
    padding-bottom:15px;
    overflow: hidden;
}
#album .listhot ul li:hover{
    border-bottom:1px solid #dedede;
}
#album .listhot ul li img{
    width: 50px;
    float:left;
    margin-right:15px;
}
#album .listhot ul li h3,
#album .listhot ul li h4{
    margin:0px;
    line-height: 1.4;
}
#album .listhot ul li h3 a,
#album .listhot ul li h4 a{
    text-decoration: none;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    display: block;
}
#album .listhot ul li h3 a{
    color:#000;
}
#album .listhot ul li h4 a{
    font-size: 12px;
    color:#888;
}
/*end album*/
/*start playlist*/
#playlist .wrap{
    padding:15px;
    background:#fff;
}
#playlist ul{
    padding:0px;
}
#playlist ul li{
    list-style-type: none;
}
#playlist ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color:#333;
    line-height: 1.6px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
}
#playlist .user-playlist{
    padding-bottom:10px;
    border-bottom:1px solid #dedede;
    overflow: hidden;
}
#playlist .user-playlist img{
    width:40px;
    float:left;
    margin-right:10px;
}
#playlist .menu-playlist .list>a{
    display: block;
    color:#333;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    font-style: normal !important;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    padding:8px 20px;
    display:block;
}
#playlist .menu-playlist .list li a{
    padding: 8px 20px;
    color:#ecf0f1;
    display: block;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.4;
    color:#888;
}
#playlist .content h3{
    margin:0px;
    font-size: 26px;
    text-transform: uppercase;
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    color:purple;
    font-weight: 300;
    padding-bottom:13px;
    border-bottom:1px solid #dedede;
}
#playlist .content .button{
    padding: 0 12px 0 5px;
    height: 32px;
    min-width: 63px;
    background-color: #f2f2f2;
    cursor: pointer;
    margin-right: 15px;
    float: left;
    border: 0;
    margin-top:15px;
    margin-bottom:15px;
}
#playlist .content .button a i{
    margin-right:10px;
}
#playlist .content .button a{
    position:relative;
    top:5px;
    color:#000;
    text-decoration:none;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
}
#playlist .content .playlist{
    clear: left;
}
#playlist .content .playlist img{
    width:90px;
    float:left;
}
/*end playlist*/
/*start song list*/
#songlist{
    min-height: 525px;
}
#songlist .product{
    overflow:hidden;
    height:220px;
    margin-bottom:20px;
}
#songlist .product img{
    width:100%;
    margin-bottom:10px;
}
#songlist .product a{
    text-decoration: none
}
#songlist .product span:nth-of-type(1) a {
    font-size: 14px;
    color:#666;
    display: block;
}
#songlist .product span:nth-of-type(2) a{
    font-size: 12px;
    color:#888;
}
/*end song list*/
